html, body, #root {
  height: 100%;
}

.ui-navbar {
  height: 2.5rem;
}

.lightgray {
  color: lightgray;
}

.no-match .note {
  font-weight: bold;
  font-size: 1.5em;
}

.fill-flex {
  flex: 1;
}

.store-w, .store-c {
  padding: 1px 3px 1px;
  margin: 0px 0px 3px;
}

.store-w .logo, .store-c .logo {
  color: white;
  font-weight: bold;
  border-radius: 10px;
  display: inline-flex;
  width: 17px;
  height: 17px;
  justify-content: center;
}

.store-w .logo {
  background: green;
}

.store-c .logo {
  background: red;
}

.store-w.special, .store-c.special {
  border: 2px solid yellowgreen;
  background: #eee;
  border-radius: 6px;
}

.store-w.special::before, .store-c.special::before {
  background: red;
  content: 'Sale';
  color: white;
  padding: 0px 4px;
  border-radius: 6px;
  justify-content: center;
  float: left;
  margin: 0 3px 0 0;
}

.card-price-list {
  font-size: 0.75rem;
}

.card-content {
  font-size: 0.75rem;
  font-weight: initial;
}

.card-product-title {
  font-size: 0.9rem;
}

.card-icon .icon {
  width: 75%;
}

.btn-label {
  position: relative;
  display: inline-block;
  padding: 6px 12px;
  background: rgba(0,0,0,0.15);
  border-radius: 3px 0 0 3px;
  margin-right: 0.75rem;
}

.btn-labeled {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  padding-left: 0 !important;
}

.icn-btn {
  align-self: center;
}

.fit-height {
  min-height: min-content;
  max-height: 430px;
}

.min-content {
  min-height: min-content;
}

.navbar-padding {
  padding-bottom: 55px;
}

.result-row > img {
  max-height: 50px;
  width: auto;
}

.span-svg-100 > svg {
  height: 1em;
  width: 1em;
  font-size: 10em;
}
