html, body, #root {
  height: 100%;
}

.ui-navbar {
  height: 2.5rem;
}

.lightgray {
  color: lightgray;
}

.no-match .note {
  font-weight: bold;
  font-size: 1.5em;
}

.fill-flex {
  flex: 1;
}

.store {
  padding: 1px 3px 1px;
  margin: 0px 0px 3px;
  display: flex;
  align-items: baseline;
  overflow: scroll;
}

.store .logo {
  color: white;
  font-weight: bold;
  border-radius: 10px;
  display: inline-flex;
  min-width: 17px;
  height: 17px;
  justify-content: center;
  margin: 0 2px 0 0;
}

.store.w .logo {
  background: green;
}

.store.c .logo {
  background: red;
}

.store .prices-container {
  text-align: right;
  flex: 1;
  min-width: 1vh;
}

.store .cupstring {
  color: gray;
  font-size: smaller;
  white-space: nowrap;
  float: right;
  display: contents;
}

.store.special {
  border: 2px solid yellowgreen;
  background: #eee;
  border-radius: 6px;
}

.store.special::before {
  background: red;
  content: 'Sale';
  color: white;
  padding: 0px 4px;
  border-radius: 6px;
  justify-content: center;
  float: left;
  margin: 0 3px 0 0;
}

.card-price-list {
  font-size: 0.75rem;
}

.card-content {
  font-size: 0.75rem;
  font-weight: initial;
}

.card-product-title {
  font-size: 0.9rem;
  height: 2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.card-icon .icon {
  width: 75%;
}

.btn-icon {
  padding: 6px 12px;
  background: rgba(0,0,0,0.15);
  border-radius: 3px 0 0 3px;
  margin-right: 0.75rem;
}

.btn-label {
  flex: 1;
  align-self: center;
}

.btn-labeled {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  padding-left: 0 !important;
  border-radius: 0 0 3px 3px !important;
}

.icn-btn {
  align-self: center;
}

.fit-height {
  min-height: min-content;
  max-height: 430px;
}

.min-content {
  min-height: min-content;
}

.navbar-padding {
  padding-bottom: 55px;
}

.result-row > img {
  max-height: 50px;
  width: auto;
  margin: 0.5rem 0;
}

.result-row > button {
  border-radius: 0 3px 3px 0;
}

.span-svg-100 > svg {
  height: 1em;
  width: 1em;
  font-size: 10em;
}
