html, body, #root {
  height: 100%;
}

.ui-navbar {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.lightgray {
  color: lightgray;
}

.no-match .note {
  font-weight: bold;
  font-size: 1.5em;
}

.fill-flex {
  flex: 1;
}

.store-w .logo {
  color: white;
  font-weight: bold;
  background: green;
  border-radius: 10px;
  border: 1px solid green;
  display: inline-block;
  width: 16px;
  height: 16px;
  padding: 0px 0px 0px 1px;
  line-height: 1rem;
}

.store-c .logo {
  color: white;
  font-weight: bold;
  background: red;
  border-radius: 10px;
  border: 1px solid red;
  display: inline-block;
  width: 16px;
  height: 16px;
  padding: 0px 0px 0px 2px;
  line-height: 1rem;
}

.card-price-list {
  font-size: 0.75rem;
}

.card-content {
  font-size: 0.75rem;
}

.card-product-title {
  font-size: 0.9rem;
}

.card-icon .icon {
  width: 75%;
}

.btn-label {
  position: relative;
  display: inline-block;
  padding: 6px 12px;
  background: rgba(0,0,0,0.15);
  border-radius: 3px 0 0 3px;
  margin-right: 0.75rem;
}

.btn-labeled {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  padding-left: 0 !important;
}

.icn-btn {
  align-self: center;
}

.fit-height {
  min-height: min-content;
  max-height: 430px;
}

.min-content {
  min-height: min-content;
}
